/Build/
/Data/
/Packages/
/Readme.txt
/Upgrading.txt
/flow
/flow.bat
composer.lock
Configuration/PackageStates.php
Configuration/README
Configuration/Settings.yaml.example
Configuration/Testing/
Web/.htaccess
Web/_Resources/