/Build/
/Data/
/Packages/
/Web/
/Readme.txt
/Upgrading.txt
/flow
/flow.bat
composer.lock
Configuration/PackageStates.php
Configuration/Production/
Configuration/README
Configuration/Settings.yaml.example
Configuration/Testing/