/Build/
/Data/
/Packages/
/Readme.txt
/Upgrading.txt
/flow
/flow.bat
Configuration/PackageStates.php
Configuration/README
Configuration/Settings.yaml.example
Configuration/Testing/
Configuration/Production/IncludeCachedConfigurations.php
Web/.htaccess
Web/_Resources/
composer.phar